@keyframes bounce{
  0%{transform:translateY(0)}
  50%{transform:translateY(-30px);}
  100%{transform:translateY(0);}
}

div.bounce1{
  font-size:30px;
  color:purple;
  background-color:blue;
  animation: bounce 10s infinite ease-out;
}






